body {
  height: 100vh;
  width: 100vw;
  background: var(--black, #0E1014);
  overflow-x: hidden;
  overflow-y: scroll;
}
.appContainer {
  max-width: 1440px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.appImgWrapper5 {
  position: absolute;
  height: auto;
  width: 100%;
  max-width: 1140px;
  top: calc(136px + 73px + 46px);
}
.appImg5 {
  width: 311px;
  height: 311px;
  flex-shrink: 0;
}